

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
  
.container{
  display: flex;
  height: 100%;
  width :100%;
  background: #C1C1C1;
  background-size: cover;
 
}

.leftdiv {
  flex: 4 ;
  background: #2D2D30;
  justify-content: center;
  height: 100vh;
  align-items: center;
  padding-top:30vh;
  padding-left: 10vh;
  background-size: cover;
}

 
 .rightdiv{
  flex: 8;
  display: flex;
  /* background-image: url("C:\Users\TechSierra\Desktop\Tech Sierra\developers-dashboard\tsapp\src\Components\assests\background.png");  */
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
 
 }  

 .backgroundimg{
   display: flex;
   background-size: cover;
   height: 80vh;
   width :70vw;
 }


.techsierralogo{
  height: 20vh;
  width: 18vw;
  margin-left:100px;
  margin-top:120px;
}

.block1 {
  position: absolute;
  width: 44.96px;
  height: 31.68px;
  left:1450px;
  top: 270px;
  
  background: rgba(0, 179, 204, 0.5);
}

.block2 {
  position: absolute;
  width: 44.96px;
  height: 31.68px;
  left: 1510px;
  top: 270px;
  
  background: rgba(0, 179, 204, 0.5);
}
.block3 {
  position: absolute;
  width: 44.96px;
  height: 31.68px;
  left: 1570px;
  top: 270px;
  
  background: rgba(0, 179, 204, 0.5);
}
.whitebox {
  position: absolute;
  left: 1450px;
  right: 318px;
  top: 300px;
  bottom: 187.62px;
  width:580px;
  height:750px;
  background: linear-gradient(180deg, #FFFFFF 65.7%, rgba(255, 255, 255, 0.38) 100%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10.7572px;
  
}

.p1 {
  position: absolute;
left:160px;
top:20px;
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 20.0458px;
line-height: 27px;
text-align: center;
letter-spacing: 0.392312px;
text-transform: uppercase;
color: #00B3CC;

}

.p2 {
  position:absolute;
  top:210px;
  left:238px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #252733;
  
}


.legend1 {
  position: absolute;
  left: 10px;
  right: 0px;
  bottom:50px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
 font-size: 20px;
letter-spacing: 0.5px;
text-transform: uppercase;

color: #A7A7A7;
}

.emailbox {
 position:absolute;
  top:380px;
  left:60px;
  width:460px;
  height:50px;
  background: #FFFFFF;
  border: 1.5px solid #A7A7A7;
  box-sizing: border-box;
  border-radius: 7px;
}

.inputemail {
  position: absolute;
  width:460px;
  height:50px;
  background: #FFFFFF;
  border: 1.5px solid #A7A7A7;
  box-sizing: border-box;
  border-radius: 7px;
  font-size:20px;
}

.requiredemail {
  position: absolute;
  width:460px;
  height:50px;
  top:55px;
  bottom:10px;
  color:red;
 
}

.legend2 {
  position: absolute;
  left: 10px;
  right: 0px;
  
  bottom:50px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
 font-size: 20px;
letter-spacing: 0.5px;
text-transform: uppercase;

color: #A7A7A7;
}


.passwordbox {
   
  position: absolute;
  top:480px;
  left:60px;
  width:460px;
  height:50px;
  background: #FFFFFF;
  border: 1.5px solid #A7A7A7;
  box-sizing: border-box;
  border-radius: 7px;
}

.inputpassword {
  position: absolute;
  width:460px;
  height:50px;
  background: #FFFFFF;
  border: 1.5px solid #A7A7A7;
  box-sizing: border-box;
  border-radius: 7px;
  font-size:20px;
}

.requiredpassword {
  position: absolute;
  width:460px;
  height:50px;
  top:55px;
  bottom:10px;
  color:red;
}

.forgetpassword {
  position: absolute;
  top: 540px;
  left:380px;
  
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  text-align: right;
  letter-spacing: 0.5px;
  
  color: #626264;
  
}

.loginbutton {
  position: absolute;
  top:600px;
  width:460px;
  height:50px;
  left:60px;
  color:#FFFFFF;
  background: #00B3CC;
  box-shadow: 0px 5px 15px rgba(0, 179, 204, 0.5);
  border-radius: 10.7572px;
}  





  
