*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
  .main_container{
    display: flex;
    height:100%;
    width: 100%;
  
  }


.container1{
  flex:2 ;
  background-color:'red';
  width: 50%;
  height:100vh;
  padding-left:6vh; 
 
 
}


.container2{
  flex: 8;
  display: flex;
  background-color: #EEEFF1;
  width: 80%;
  padding-top: 100PX;
   height: auto;

  
}


.devlopersbutton{
 height:12vh;
 width :18vh;
 border-radius: 12px;
 background-color:#2D2D30;
 color: white;
}
.devlopersbutton:hover{
background: white;
color:#2D2D30;
}

 .devicon{
   margin-top:12px;
  height:3vh;
  width :2.5vh;
 }

 .pdev {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
   margin-top:8px;
   color: #626264;
 }
 .techsierralogo1{
   padding-top: 50px;
   height:18vh;
   width:20vh;
 }
 .devapp{
   padding-top: 10vh;
 }
.proapp{
  padding-top: 45vh;
}

.profilebutton{
  height:12vh;
 width :18vh;
 
 border-radius: 12px;
 background:#2D2D30;
 color: white;

}

.profilebutton:hover{
  background: white;
  color: black;

}

.profileicon {

  height:3vh;
  width :3vh;
}



.myprofile {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  margin-top:10px;
 
}