

 .Dropdownh1 {
   position:absolute;
    width: 30px;
    height: 30px;
    left: 2245px;
    top: 43px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
  }
  .Dropdown {
    position:absolute;
    left: 2300px;
    top: 70px;
    border-radius: 10px;
  } 

  .optionall {
     position:absolute;
     height:30px;
     width:140px;
     left:30px;
     bottom:0px;
     background: #FFFFFF;
     border-radius: 7px;
     border-color:transparent;
     font-size:15px;
  }