.Dropdownh1 {
    width: 30px;
    height: 30px;
    left: 1700px;
    top: 40px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
  }
  .Dropdown {
    width: 200px;
    height: 100px;  
    left: 1700px;
    top: 50px;
    border-radius: 10px;
  }